<!DOCTYPE html>
<head>
<title>Register Form Design</title>
    <link rel="stylesheet" type="text/css" href="/static/style1.css">

<body>

    <div class="box">
    <img src="user.png" class="user">
    <br>
    <br>
    <br>

        <h1>Registration Form</h1>

         <form name="myform3" action="" method="GET">
            
            <p>Reg No :</p>
            <output type="number" name="regno" >
                <br>

            <p>Name :</p>
            <output type="text" name="name" >
                <br>

            <p>Email :</p>
            <output type="Email" name="email" >
                <br>

            <p>Phone Number :</p>
            <output type="number" name="phnum" >
                <br>

            <p><b>Register for :</b></p>
            <br>

                <p><b>JEE</b>    <input type="submit" name="regjee" value="Register"></p>    

                <p><b>NEET</b>   <input type="submit" name="regneet" value="Register"></p>

                <p><b>AIIMS</b>  <input type="submit" name="regaim" value="Register"></p>

                <p><b>JIPMER</b> <input type="submit" name="regjip" value="Register"></p>

            <br>
            <br>
            <br>
            <p>Proceed To Payment-></p>
            <input type="submit" name="" value="Complete">
            <a href=""></a>
        </form>
        
    </div>

</body>
</head>
</html>